<section class="events-list" style="width: 460px">
  <div class="news-title-wrapper">
    <h2 class="news-title">Event</h2>
    <span class="news-title-sub">イベント</span>
  </div>
  <div class="events-articles-container">
    <a href="#">
      <article class="events-article-top">
        <div class="events-article-img-wrapper">
          <img src="../../../images/organisms-events-image2.png" alt="" />
        </div>
        <div class="events-article-text-wrapper">
          <p>全ての業種に対応した起業応援セミナーを開催します。</p>
          <time datetime="2018-8-23">2018.08.23</time>
        </div>
      </article>
    </a>
    <a href="#">
      <article>
        <div class="events-article-img-wrapper">
          <img src="../../../images/organisms-events-image1.png" alt="" />
        </div>
        <div class="events-article-text-wrapper">
          <p>第三回Switchクリエイター交流会開催いたします！</p>
          <time datetime="2018-8-23">2018.08.23</time>
        </div>
      </article>
    </a>
    <a href="#">
      <article>
        <div class="events-article-img-wrapper">
          <img src="../../../images/organisms-events-image3.png" alt="" />
        </div>
        <div class="events-article-text-wrapper">
          <p>
            Webビジネス初心者の方必見！Webサイト作成講座を3回にわたって開催します。
          </p>
          <time datetime="2018-8-23">2018.08.23</time>
        </div>
      </article>
    </a>
  </div>
  <div class="news-and-events-more-wrapper">
    <a href="#" class="news-and-events-more">
      <p class="news-and-events-more-text">イベント一覧</p>
      <i class="fas fa-chevron-right"></i>
    </a>
  </div>
</section>
