@use "../../variables" as *;
@use "../../utilities" as *;

.news-and-events-more {
  display: flex;
  align-items: center;
  padding: 0;
  text-decoration: none;
  color: $black;
  cursor: pointer;
  transition: color 0.2s ease;

  &:hover {
    text-decoration: none;
    color: $gray_nobel;
  }

  .fas {
    margin-left: 16px;

    &::before {
      width: 14px;
      height: 14px;
    }
  }

  p {
    margin: 0;
    font-size: $S;
    font-style: normal;
  }
}
