<nav class="navbar navbar-expand-xl">
  <div class="navbar-top">
    <a class="navbar-brand" href="#"
      ><img src="../../../images/organisms-header-logo.png" alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <img src="../../../images/organisms-header-humberger-icon.svg" alt="" />
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >HOME <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <div class="nav-item-concept-container">
          <a class="nav-link" href="#">CONCEPT</a>
          <a
            class="nav-link"
            data-toggle="collapse"
            href="#collapse-concept"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            <img
              src="../../../images/organisms-header-plus.svg"
              alt=""
              class="collapse show"
              id="collapse-concept"
            />
            <img
              src="../../../images/organisms-header-minus.svg"
              alt=""
              class="collapse"
              id="collapse-concept"
            />
          </a>
        </div>
        <ul class="collapse concept-submenu" id="collapse-concept">
          <li class="nav-item nav-item-concept">
            <a href="#" class="nav-link">ブログアーカイブ</a>
          </li>
          <li class="nav-item nav-item-concept">
            <a href="#" class="nav-link">お知らせアーカイブ</a>
          </li>
          <li class="nav-item nav-item-concept">
            <a href="#" class="nav-link">イベントアーカイブ</a>
          </li>
          <li class="nav-item nav-item-concept">
            <a href="#" class="nav-link">インタビューアーカイブ</a>
          </li>
          <li class="nav-item nav-item-concept">
            <a href="#" class="nav-link">FAQページ</a>
          </li>
          <li class="nav-item nav-item-concept">
            <a href="#" class="nav-link">固定ページ (デフォルト)</a>
          </li>
          <li class="nav-item nav-item-concept">
            <a href="#" class="nav-link">CONCEPT</a>
          </li>
          <li class="nav-item nav-item-concept">
            <a href="#" class="nav-link">SERVICE</a>
          </li>
          <li class="nav-item nav-item-concept">
            <a href="#" class="nav-link">FLOOR</a>
          </li>
          <li class="nav-item nav-item-concept">
            <a href="#" class="nav-link">ACCESS</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SERVICE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FLOOR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">INTERVIEW</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">BLOG</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ACCESS</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">DOWNLOAD</a>
      </li>
    </ul>
  </div>
</nav>
