@use "../../variables" as *;

.news-title-wrapper {
  display: flex;
  align-items: center;
}

.news-title {
  margin: 0;
  line-height: 29px;
  font-size: $L;
  font-family: $fontfamily-mincho;
  font-weight: 400;
  font-style: normal;
  color: $black;
}

.news-title-sub {
  margin-left: 16px;
  font-size: $M;
  font-style: normal;
  color: $black;
}

@media screen and (min-width: $breakpoint-md) {
  .news-title {
    line-height: 57px;
    font-size: $XXL;
  }
}
