@use "../../variables" as *;

.news-title-wrapper {
  display: flex;
  align-items: center;
  color: $black;
}

.news-title {
  margin: 0;
  line-height: 1.5;
  font-size: $L;
  font-family: $fontfamily-mincho;
  font-weight: 400;
  @media screen and (min-width: $breakpoint-md) {
    font-size: $XXL;
  }
}

.news-title-sub {
  margin-left: 16px;
  font-size: $M;
}
