@use "../../variables" as *;
@use "../../utilities.scss" as *;

.button {
  display: flex;
  width: 180px;
  height: 45px;
  margin: 0;
  padding: 0px 16px;
  font-size: $fontsize-s;
  align-items: center;
  justify-content: center;
  background-color: $black;
  color: $white;
  transition: background-color 0.2s;

  &:hover {
    color: $white;
    background-color: $orange_bistre;
    text-decoration: none;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .button {
    width: 150px;
    height: 55px;
  }
}

@media screen and (min-width: $breakpoint-lg) {
  .button {
    width: 200px;
  }
}
