<section id="news-and-events">
  <div class="container">
    <div class="news-and-events-inner row row-cols-1 row-cols-lg-2">
      <section class="news-list col">
        <div class="news-title-wrapper">
          <h2 class="news-title">News</h2>
          <span class="news-title-sub">お知らせ</span>
        </div>
        <div class="news-articles-container">
          <a href="#">
            <article>
              <time datetime="2018-6-20">2018.06.20</time>
              <p>
                ブックカフェ・コワーキング系サイト向けテーマ「Switch」をリリースしました。
              </p>
            </article>
          </a>
          <a href="#">
            <article>
              <time datetime="2018-8-16">2018.06.18</time>
              <p>3種のレイアウトから選択できるテンプレートを固定ページに実装</p>
            </article>
          </a>
          <a href="#">
            <article>
              <time datetime="2018-6-12">2018.06.12</time>
              <p>利用者からのご質問をまとめた「FAQ」ページをアップしました。</p>
            </article>
          </a>
          <a href="#">
            <article>
              <time datetime="2018-6-8">2018.06.08</time>
              <p>
                デモ用のサンプルデータを表示する「インポート機能」でサイト構築を快適に？
              </p>
            </article>
          </a>
          <a href="#">
            <article>
              <time datetime="2018-6-2">2018.06.02</time>
              <p>テーマのアップデート情報について</p>
            </article>
          </a>
        </div>
        <div class="news-and-events-more-wrapper">
          <a href="#" class="news-and-events-more">
            <p class="news-and-events-more-text">お知らせ一覧</p>
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </section>
      <section class="events-list col">
        <div class="news-title-wrapper">
          <h2 class="news-title">Event</h2>
          <span class="news-title-sub">イベント</span>
        </div>
        <div class="events-articles-container">
          <a href="#">
            <article>
              <div class="events-article-img-wrapper">
                <img
                  src="../../../page/images/organisms-events-image2.png"
                  alt=""
                />
              </div>
              <div class="events-article-text-wrapper">
                <p>全ての業種に対応した起業応援セミナーを開催します。</p>
                <time datetime="2018-8-23">2018.08.23</time>
              </div>
            </article>
          </a>
          <a href="#">
            <article>
              <div class="events-article-img-wrapper">
                <img
                  src="../../../page/images/organisms-events-image1.png"
                  alt=""
                />
              </div>
              <div class="events-article-text-wrapper">
                <p>第三回Switchクリエイター交流会開催いたします！</p>
                <time datetime="2018-8-23">2018.08.23</time>
              </div>
            </article>
          </a>
          <a href="#">
            <article>
              <div class="events-article-img-wrapper">
                <img
                  src="../../../page/images/organisms-events-image3.png"
                  alt=""
                />
              </div>
              <div class="events-article-text-wrapper">
                <p>
                  Webビジネス初心者の方必見！Webサイト作成講座を3回にわたって開催します。
                </p>
                <time datetime="2018-8-23">2018.08.23</time>
              </div>
            </article>
          </a>
        </div>
        <div class="news-and-events-more-wrapper">
          <a href="#" class="news-and-events-more">
            <p class="news-and-events-more-text">イベント一覧</p>
            <i class="fas fa-chevron-right"></i>
          </a>
        </div>
      </section>
    </div>
  </div>
</section>
