@use "../../variables" as *;

#cards {
  padding: 0;

  .card-container {
    @media screen and (min-width: $breakpoint-md) {
      display: flex;

      .card:nth-child(2) {
        margin: 0 24px auto 24px;
      }
    }

    .card {
      flex: 1;
      margin-bottom: 40px;
    }

    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 60px;
    }
  }
}
