@use "../../variables" as *;

.cards {
  .row {
    margin: 0 -12px 0 -12px;

    .card {
      margin-bottom: 40px;
      padding: 0 12px;
    }

    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 60px;
    }
  }
}
