<section id="cards" class="container">
  <div class="row row-cols-1 row-cols-md-3 card-container">
    <div class="card col">
      <a href="#" class="card-img-wrapper">
        <span class="card-title">CONCEPT</span>
        <img
          src="../../../images/molecules-card-image1.png"
          class="card-img-top"
          alt=""
        />
      </a>
      <div class="card-body justify-content-between">
        <p class="card-text">
          「本屋」でも「自習室」でもない、新しい空間。それがこのカフェ＆コワーキングです。お好きなドリンクを飲みながらゆったりと気兼ねなく勉強や仕事に取り組んでいただけます。
        </p>
        <a href="#" class="button card-button">コンセプト</a>
      </div>
    </div>
    <div class="card col mx-md-4">
      <a href="#" class="card-img-wrapper">
        <span class="card-title">SERVICE</span>
        <img
          src="../../../images/molecules-card-image2.png"
          class="card-img-top"
          alt=""
        />
      </a>
      <div class="card-body justify-content-between">
        <p class="card-text">
          喫茶・軽食を楽しめるカフェスペース。ビジネス書から最新の雑誌まで取りそろえるブックスペース。ブース型のパーソナルワークスペースに、開放感があるコワーキングスペース。
        </p>
        <a href="#" class="button card-button">サービス</a>
      </div>
    </div>
    <div class="card col">
      <a href="#" class="card-img-wrapper">
        <span class="card-title">FLOOR</span>
        <img
          src="../../../images/molecules-card-image3.png"
          class="card-img-top"
          alt=""
        />
      </a>
      <div class="card-body justify-content-between">
        <p class="card-text">
          カフェ・ブック・コワーキング。各エリアで異なるコンセプトを持つ当店では、目的や気分に合わせてフロア内を移動することで充実した時間をお過ごしいただけます。
        </p>
        <a href="#" class="button card-button">フロアー</a>
      </div>
    </div>
  </div>
</section>
